name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      
      # Instala TODAS as versões necessárias de uma vez
      - name: Setup dotnet versions
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            8.0.x
            7.0.x
            6.0.x
          
      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --no-restore --configuration Release
        
      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release
